/* Styles pour la liste des matières */
.teacher-photo {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  object-fit: cover;
}

.card.bg-gradient-primary {
  background: linear-gradient(to right, #667eea, #764ba2);
}

.card.bg-gradient-success {
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.card.bg-gradient-warning {
  background: linear-gradient(to right, #f093fb, #f5576c);
}

.card.bg-gradient-info {
  background: linear-gradient(to right, #4facfe, #00f2fe);
}
