<div class="toast-container">
  <div 
    *ngFor="let notification of notifications; trackBy: trackByFn" 
    [class]="getToastClass(notification.type)"
    [@slideInOut]>
    
    <div class="toast-content">
      <div class="toast-icon">
        <i class="mdi" [class]="getIcon(notification.type)"></i>
      </div>
      
      <div class="toast-message">
        {{ notification.message }}
      </div>
      
      <button 
        class="toast-close" 
        (click)="removeNotification(notification.id)"
        type="button">
        <i class="mdi mdi-close"></i>
      </button>
    </div>
    
    <div class="toast-progress" *ngIf="notification.duration && notification.duration > 0">
      <div class="toast-progress-bar" [style.animation-duration.ms]="notification.duration"></div>
    </div>
  </div>
</div>